html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
textarea,
form,
ul,
li,
ol,
dl,
dt,
dd,
img,
figure,
figcaption,
article,
aside,
canvas,
details,
embed,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Comic-Sans-MS-Pixel';
  src: url('./assets/fonts/Comic-Sans-MS-Pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Comic-Sans-MS-Pixel', sans-serif;
}
