.dialogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      45deg,
      rgba(254, 107, 139, 0.5),
      rgba(255, 142, 83, 0.5),
      rgba(156, 39, 176, 0.5)
    ),
    linear-gradient(
      135deg,
      rgba(33, 150, 243, 0.5),
      rgba(0, 230, 118, 0.5),
      rgba(255, 23, 68, 0.5)
    );
  background-size: 300% 300%, 300% 300%;
  animation: gradient 10s ease infinite;
}

.button:hover {
  background-color: '#FF4500';
}
.dialogActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
